$interface-width: 85vw
$tweet-width: 33.25ch
$top-spacing: 5vh
$roundness: 2px

body
    font-family: 'Roboto'
    text-align: center
    font-weight: 300
    font-size: 27.5px
    background-color: white

header
    margin: $top-spacing auto
    width: $interface-width
    text-align: left
    font-size: 1em

    h1
        font-family: 'Righteous'
        font-weight: 400
        margin-bottom: 0
        font-size: 2em

    p
        margin-top: 0
        margin-bottom: 0
        font-size: 1em

.topic
    margin: 0 auto
    font-size: 1.5em
    border: none
    box-sizing: border-box
    outline: none
    text-align: right
    position: absolute
    top: 0
    right: (100vw - $interface-width) / 2
    top: $top-spacing * 1.25
    background-color: transparent
    opacity: 0.25

.tweets
    margin: 0 auto
    width: 100vw
    
    @media (max-width: $tweet-width * 1.5)
        width: $interface-width

.tweetWrap
    padding: 0.1em
    transition: transform ease 0.3s
    
    @media (max-width: $tweet-width * 1.5)
        padding: 0.5em 0

.tweet
    position: relative
    width: $tweet-width
    text-align: left
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
    border-radius: $roundness
    padding: $roundness * 10
    box-sizing: border-box
    background-color: #fefefe
    
    @media (max-width: $tweet-width * 1.5)
        width: 100%

    &::before
        content: ''
        background-color: fade-out(white, 0.25)
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 1

    .text
        position: relative
        z-index: 10
        a
            color: inherit
            opacity: 0.5
            text-decoration: none

    img
        position: relative
        width: 100%
        border-radius: $roundness
        margin: 1em 0
        z-index: 10
        transition: opacity ease 0.3s

.configShow
    margin: 0 auto
    font-size: 0.5em
    border: none
    box-sizing: border-box
    outline: none
    text-align: right
    position: absolute
    top: 0
    right: (100vw - $interface-width) / 2
    top: $top-spacing * 2.25
    background-color: transparent
    opacity: 0.25
    cursor: pointer

.config
    font-size: 2em
    display: none
    position: absolute
    top: $top-spacing * 4
    font-size: 0.5em
    width: $interface-width
    padding: 0 (100vw - $interface-width) / 2
    left: 0
    background-color: inherit
    text-align: left
    border-top: dotted thin #aeaeae
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
    padding-bottom: $top-spacing
    z-index: 99999999
    
    h2
        font-weight: 400
        font-size: 2em
        max-width: 55.75ch
        margin: 1em auto
    
    label
        font-size: 1.25em
    
    input,
    select
        font-size: 1.25em
        display: block
        width: 100%
        margin-bottom: 1em
        opacity: 0.5

    fieldset
        border: solid thin #aeaeae
        padding: 1em 2em
        max-width: 100ch
        margin: 0 auto
        margin-top: 3em
    
    legend
        font-size: 1.5em

    fieldset.close
        border: none
        padding: 0
        
        input
            width: auto
            padding: 0.5em
            float: right
            opacity: 1
            cursor: pointer